/zww-admin/*.classpath
/zww-admin/*.project
/zww-admin/.settings
/zww-admin/target/classes/META-INF
/zww-admin/target/classes/WEB-INF/view
classes
META-INF
test-classes
/zww-api/*.classpath
/zww-api/*.project
.settings
/zww-common/*.classpath
/zww-common/*.project
/zww-config/*.classpath
/zww-config/*.project
/zww-core/*.classpath
/zww-core/*.project
/zww-game/*.classpath
/zww-game/*.project
/zww-gateway/*.classpath
/zww-gateway/*.project
/zww-generator/*.classpath
/zww-generator/*.project
/zww-parent/*.project
/zww-produce-account/*.classpath
/zww-produce-account/*.project
/zww-produce-activity/*.classpath
/zww-produce-activity/*.project
/zww-produce-base/*.classpath
/zww-produce-base/*.project
/zww-produce-order/*.classpath
/zww-produce-order/*.project
/zww-produce-pay/*.classpath
/zww-produce-pay/*.project
/zww-produce-riskManagement/*.classpath
/zww-produce-riskManagement/*.project
/zww-registry/*.classpath
/zww-registry/*.project
/zww-rest/*.classpath
/zww-rest/*.project
/zww-test/*.classpath
/zww-test/*.gitignore
/zww-test/*.project
default-compile
default-testCompile
surefire-reports
surefire
maven-archiver
target
*.classpath
*.project
/zww-learn/*.springBeans
*.springBeans
